.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  position: relative;

  .logo {
    cursor: pointer;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}
.sidebar-item{  
    width: 100%;
    margin-top: 5vmin;
    margin-bottom: 5vmin; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2vmin;

    img {
      //   border: red solid 2px;
      margin: 0;
    }

    .text {
      //   border: red solid 2px;
      margin: 0;
      padding: 0;
    }
  }
}
