.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  position: relative;

  .logo {
    cursor: pointer;
    // position: absolute;
    margin-top: 3vmin;
    margin-bottom: 1vmin;
    margin-right: 2vw;
    align-self: center;
  }
  .sidebar-item {
    width: 90%;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2vmin;

    img {
      //   border: red solid 2px;
      margin: 0;
    }

    .text {
      //   border: red solid 2px;
      margin: 0;
      padding: 0;
    }
  }
}
