.topnavbar{
    background-color: black;
    font-size: 2vmin;
    .home-pic, .add-pic{
        cursor: pointer;
    }
}
.nav-link{
    color: white !important;
    width: 20vmin;
    margin-bottom: -3vmin;
}
.nav-link.active{
    background-color: rgba(44,44,44,255) !important;
}
.button-close{
    cursor: pointer;
    position: relative;
    width: 2.5vmin;
    top: -1.5vmin;
    left: 16vmin;
    .button-close-pic{
        width: 2.5vmin;
        pointer-events: none;
    }
}
.container {
    height: 100vh; /* 設置父元素高度為螢幕高度 */
    overflow: hidden; /* 隱藏溢出的內容 */
}
.content-body {
    height: calc(100vh - 100px); /* 設置content-body高度為父元素高度減去頂部導航欄高度 */
    overflow-y: scroll; /* 設置內容可以滾動 */
    background-color: white;
    font-size: 10vmin;
}
.content-top-bar{
    height: 8vmin;
    background-color: rgba(44,44,44,255);
}
.content-item{
    min-width: 32%;
    .content-item-pic{
        cursor: pointer;
        height: 35vmin;
        width: 100%;
        border: 1px solid black;
    }
}
.content-item-desc{
    font-size: 2.5vmin;
    .ms-auto{
        color: gray;
    }
}
.library-item{
    min-width: 19%;
    .library-item-pic{
        cursor: pointer;
        height: 20vmin;
        width: 100%;
        border: 1px solid black;
    }
}
.library-item-desc{
    font-size: 1.5vmin;
    .ms-auto{
        color: gray;
    }
}
.calendar{
    height: calc(100vh - 100px);
    overflow-y: hidden;
}
.calendar-item{
    min-width: 32%;
    .calendar-item-pic{
        cursor: pointer;
        height: 20vmin;
        width: 100%;
        border: 1px solid black;
    }
}
.calendar-item-desc{
    font-size: 1.5vmin;
    .ms-auto{
        color: gray;
    }
}
.settings{
    height: calc(100vh - 100px);
    .row{
        height: 100%;
    }
    .profile{
        width: 80%;
    }
    .information{
        font-size: 2.5vmin;
        .userName{
            font-size: 5vmin;
            font-weight: bold;
        }
    }
    .profile-sidebar{
        font-size: 2vmin;
        .profile-button, .theme-button{
            cursor: pointer;
            height: 60px;
            width: 100%;
        }
        .profile-button{
            background-color: black;
            color: white;
        }
        .theme-button{
            background-color: white;
            color: black;
        }
    }
    
}
.circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
  
